@import url('https://fonts.googleapis.com/css2?family=Taprom&family=Ubuntu:wght@300;400;500&family=Vidaloka&display=swap');

:root {
    --accent-background: #D9D9D9;
    --accent-fontLightGrey: #2E2E2E;
    --accent-fontDeepGrey: #01020B;
}

html {
    box-sizing: border-box;
}

::before ::after {
    box-sizing: inherit;
}

body {
    font: normal 1em/1.2 Ubuntu, Vidaloka, Taprom, sans-serif;
    max-width: 1366px;
    margin: 0;
    background-color: var(--accent-background);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Ubuntu, Taprom, sans-serif;
}

h1 {
    font-size: 4em;
    /*64/16=4em */
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: "Taprom", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2.25em;
    /*36/16=2.25em */
    margin: 0;
    padding: 10px;
    border-left: 5px solid var(--accent-fontDeepGrey);
}

h3 {
    font-size: 2em;
    /*32/16=2em */
    border-left: 5px (--accent-fontDeepGrey) solid;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
}
p{
    text-align: justify;
}

.page-container {
    margin: 3.5625em 5.1875em;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content-wrapper {
    max-width: 1366px;
    /*57/16=3.5625; 83/16=5.1875 */
}


#header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
    max-width: 1366px;
    width: 100%;
}

#logo-and-site-name {
    display: flex;
    align-items: center;
    column-gap: 11px;
    justify-content: flex-start;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    /*47/32=1.468 */
    column-gap: 3.08em;
    /*74/24=3.08em */
}

.menu li a {
    text-decoration: none;
    color: var(--accent-fontLightGrey);
    font-size: 1.5em;
    /*24/16=1.5em*/
    font-weight: 400;
}


.menu li a:hover {
    background-color: var(--accent-fontLightGrey);
    color: var(--accent-background);
}

#GenetalInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.general-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.9375em;
    /*124/64=1.9375 */
    border-bottom-style: solid 1px var(--accent-fontLightGrey);
}

#GenetalInfo h1 {
    padding: 1.19em;
    /*76/64=1.1895 */
    flex-wrap: wrap;
    flex: 1 1 30%;
}

#GenetalInfo p {
    font-family: "Vidaloka", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    /*32/16=2em */
    flex: 1 1 60%;
    padding: 1.469em;
    /*47/32=1.469 */
}
.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
}

#GenetalInfo i{
    width: 25px;
    height: 25px;
    position: relative;
    flex: 0 1 0;
    text-decoration: none;
    color: var(--accent-fontDeepGrey);
    border: 2px solid var(--accent-fontDeepGrey);
    border-radius: 50%;
    text-align: center;
    align-self: center;
}


#project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.85em;
    /*59/32= 1.84375 */
    border-bottom: 1px solid var(--accent-fontDeepGrey);
}

.ProjectText {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 40%;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    column-gap: 2.0625em;
    /* 66/32=2.0625em */
    margin: 4.98em;
    /*159/32=4.97em*/
}

.ProjectText p {
    font-size: 2em;
    /*32/16=2em */
    font-family: "Vidaloka", serif;
    font-weight: 400;
    font-style: normal;
}

#Project img {
    max-width: 100%;
    flex: 0 1 40%;
    margin: 1.469em;
}

#Gallery {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1.52em auto;
    /*6.5-4.98 */
    border-bottom: 1px solid var(--accent-fontDeepGrey);
    row-gap: 4.125em;
    padding: 4.98em;
}

.gallery-container {
    display: flex;
    flex-direction: row;
    flex-wrap: row wrap;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    column-gap: 4.125em;
    /*66/16=4.125 */
}

.single-story {
    flex: 0 1 25%;
    border: 2px solid white;
}

.single-story img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    flex: 1 1 100%;

}

.single-story p {
    font-size: 1.5em;
    font-family: "Vidaloka", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--accent-fontDeepGrey);
}

.single-story a {
    text-decoration: none;
}

.single-story:hover {
    border: 2px solid var(--accent-fontDeepGrey);
    text-decoration: none;
}

#Gallery h3 {
    text-align: center;
    max-width: 100%;
    flex: 0 1 0;
}

.contact-container {
    display: flex;
    flex-direction: column;
    padding: 4.98em;
    margin: 1.52em;
    border-bottom: 1px solid var(--accent-fontDeepGrey);
    justify-content: flex-start;
}

.form-submission {
    align-self: center;
    font-size: 1.5em;
    /* 24/16=1.5em */
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
}

#connect {
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
    /* 24/16=1.5em */
}

input,
button {
    font-family: inherit;
}

input[type=text] {
    width: 100%;
    /*260/16=13 */
    height: 3em;
    /*48/16=3em; */
    font-size: 1.25em;
    /* 20/16=1.25em; */
    box-sizing: border-box;
    flex: 0 1 0;
}

::placeholder {
    color: var(--accent-fontLightGrey) 60%;
    opacity: 60%;
}

.button{
    display: flex;
    justify-content: space-between;
}
button {
    font-size: 1em;
    /*48/24=2em */
    text-align: center;
    padding: 0.42em 2.79em;
    /*67/24=2.79 */
    /*10/24=0.42 */
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
    border: 2px solid var(--accent-fontDeepGrey);
    background: var(--accent-background);
    color: var(--accent-fontDeepGrey);
    text-align: center;
    display: inline-block;
}
button:hover{
    color: white;
    background-color: var(--accent-fontDeepGrey);
}

.connect-icon{
    display: flex;
    justify-content: space-around;
    font-size: larger;
}

.connect-icon i{
    text-decoration: none;
    color: var(--accent-fontLightGrey);
    opacity: 60%;

}
.connect-icon i:hover{
    color:var(--accent-fontDeepGrey);
    opacity: 1;
}

footer{
    display: flex;
    justify-content: flex-start;
    margin: 1.52em;
}

#copyright{
    
  font-family: "Vidaloka", serif;
  font-weight: 400;
  font-style: normal;
    font-size: 0.875em;
    /*14/16=0.875em */
}





